*,
html,
::before *,
::after * {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  height: 100vh;
  margin: 0 !important;
}

.brand-logo:active {
  transform: scale(1.1);
}

.Tilt-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Tilt-inner img {
  max-width: 80%;
  height: auto;
}

.centre {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.main-container {
  border: 1px solid black;
  height: 464px;
}

.rank-cont p {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
}

.section-container {
  border: 1px solid red;
  width: 60%;
  margin: 0 auto;
}

.form-parent {
  display: flex;
  align-items: center;
  border: 1px dotted green;
}

.input-div > input {
  width: 70%;
}

.input-div button {
  width: 30%;
}
